
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  text-align: center;
  height: 8em;
  width: 100vw;
  background-color: blue;
  overflow: hidden;
}


.Auth{
  text-align: center;
    background-color: aquamarine;
    margin: 0em;
}

